
/* --- 项目详情页专用样式 --- */

.content-wrapper {
    margin-left: 280px; /* 与侧边栏宽度保持一致 */
    padding: 43px;
}

/* 标题区域*/
.project-header {
    display: flex;
    justify-content: space-between; /* 标题在左，描述在右 */
    margin-bottom: 100px;
    align-items: flex-start;
}

.title-group h2 { 
    font-size: 1.2rem; 
    font-weight: 450;
    line-height: 1;
    color: #363636; 
    margin-bottom: 12px;
}

.title-group h3 { 
    font-size: 1rem; 
    font-weight: normal;
    line-height: 0.5;
    color: #363636; 
}

.description { 
    max-width: 700px; 
    font-size: 0.85rem; 
    font-weight: 300;
    color: #363636; 
    line-height: 1.2;
    letter-spacing: 0.02rem;
}

/* --- 动态照片墙 (瀑布流) --- */
.photo-columns {
    column-count: 3; /* 你可以根据喜好改为 2 或 3 */
    column-gap: 20px; /* 左右间距 */
    max-width: 1000px;
    margin-left: auto;
    margin-right: 0;
}

.description p {
    /* 这是段落间距 */
    margin-bottom: 10px; 
}

.photo-columns img {
    width: 100%;
    height: auto; /* 保证比例绝对不变 */
    display: block;
    margin-bottom: 20px; /* 上下间距 */
    object-fit: contain;
}

.photo-columns img {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.2s ease-out;
}

.photo-columns img.show {
    opacity: 1;
    transform: translateY(0);
}

/* 跨列的大图：有些图你想让它占满全屏宽度时使用 */
.img-wide {
    column-span: all;
    margin: 50px 0;
}

/* 手机端适配 */
@media (max-width: 1024px) {
    .photo-columns { column-count: 2; }
}

@media (max-width: 768px) {
    .content-wrapper { margin-left: 0; padding: 20px; }
    .project-header { flex-direction: column; }
    .description { margin-top: 20px; }
    .photo-columns { column-count: 1; }
}